#header{
  background: #111;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#headerSpan{
  display: flex;
  align-items: center;
}
#headerLogo{
  height: 40px;
}
#headerTitle{
  font-size: 1.5em;
}
#header input{
  border-radius: 10px;
  max-height: 50%;
  min-height: 25px;
  width: min(250px, 35%);
  margin: 0 2%;
  padding: 2px 8px;
  background: rgb(61, 61, 61);
  border: none;
  color: #ddd;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header input:focus{
  outline: 1px solid rgb(97, 219, 251);
}
#headerList{
  display: flex;
  list-style: none;
}
#headerList li{
  border-radius: 5px;
  padding: 5px 10px;
}
#headerSpan:hover, #headerList li:hover{
  cursor: pointer;
}
#headerList li:hover, #headerList li:active{
  background: rgb(97, 219, 251);
  color: #111;
}
#headerLargeLogo{
  width: 100%;
  max-height: 92vh;
}
@media screen and (max-width: 500px) {
  #header{
    flex-direction: column;
    gap: 5px;
  }
  #headerSpan{
    align-items: center;
    justify-content: center;
    flex: 1 0;
  }
  #header input{
    width: 70%;
  }
  #header input, #headerList{
    flex: 1 0;
    justify-content: center;
  }
}