*{
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #333;
  color: #ddd;
  font-family: Cambria;
}

/* App */
#router{
  margin: 40px 0 20px;
  background: #00000049;
}
#secoundLinkContainer{
  margin: 20px 0 10px;
  background: #01b39569;
  min-height: 50px;
  display: flex;
  align-items: center;
}
#secoundLinkContainer a{
  text-decoration: none;
  color: #eee;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
#secoundLinkContainer a:active{
  background-color: rgba(0, 0, 0, 0.3);
}

/* Nav.js */
nav{
  background: #087570;
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li{
  list-style: none;
  padding: 5px 10px;
}
nav li:hover{
  background-color: #3333333f;
  color: #ddd;
  cursor: pointer;
}
nav li a{
  color: #111;
  text-decoration: none;
  width: 100%;
  height: 100%;
}